body{
    background-image: url(jaredd-craig-HH4WBGNyltc-unsplash.jpg);
    background-size: cover;
    font-family: "Ubuntu";

    display: grid;
    gap: 2vh;
}

h1{
    font-size: 4vw;
    text-align: center;
    color: aliceblue;
    
}

.main-content{
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    height: 55vh;
    width: 70vw;
    overflow: auto;
    justify-self: center;

    justify-items: center;
}

.book{
    background-color: aliceblue;
    opacity: 0.95;
    border-radius: 10px;
    font-size: 1vw;
    padding: 8px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;

    width: 20vw;
    height: 20vh;
}

.book>p{
    margin: 0px;
    padding: 0px;
}

.title{
    grid-area: 1/1/span 2;
}

.author{
    grid-area: 3/1/span 2;
}

.pages{
    grid-area: 5/1/span 2;
}

.read{
    grid-area: 1/2/span 3;
}

.read, .remove{
    border-radius: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.remove{
    grid-area: 4/2/span 3;

}

.material-icons{
    font-size: 150px;
    /*größe irgendwie noch verändern*/
}

.add-book{
    width: 15vw;
    height: 10vh;
    margin: auto;

    background-color: aliceblue;
    font-size: 2vw;
    font-weight: 700;
    border-radius: 30px;

    /*positioning of the button*/
}

.button{
    cursor: pointer;
    border: 1px solid white;
}

.button:hover{
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
 
}

.button:active{
    border: solid 2px black;
    background-color: rgb(187, 185, 185);
    box-shadow: 5px 5px 10px;
}

.modal{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 9fr;
    gap: 10px;

    border-radius: 20px;

    width: 400px;
    height: 500px;

}

.modal>form{
    grid-area: 2/1/span 2/span 2;
    display: grid;
    gap: 10px;
}

fieldset{
    display: grid;
    gap: 3px;
}

label, .modal>div, .submit, .close-button{
    font-size: 1vw;
}

.close-button{
    height: 3vh;
    width: 3vh;

    justify-self: end;
}