body{
    background-image: url(jaredd-craig-HH4WBGNyltc-unsplash.jpg);
    background-size: cover;
    font-family: "Ubuntu";

    display: grid;
    gap: 2vh;
}

h1{
    font-size: 4vw;
    text-align: center;
    color: aliceblue;
    
}

.main-content{
    padding: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.book{
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 1vw;
    padding: 8px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;

    width: 20vw;
    height: 20vh;
}

.book>p{
    margin: 0px;
    padding: 0px;
}

.book>button{
    grid-area: 1/2/span 3;
}

.add-book{
    width: 15vw;
    height: 10vh;
    margin: auto;

    background-color: aliceblue;
    font-size: 2vw;
    font-weight: 700;
    border-radius: 30px;


    /*positioning of the button*/
}

.button{
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: rgb(238, 238, 238);
 
}

.button:active{
    border: solid 2px black;
    background-color: rgb(187, 185, 185);
    box-shadow: 5px 5px 10px;
}